*.bak
*conflicted*
*unison.tmp
.nfs*
*sync.ffs_db
bash/history
compiz/
emacs.d/private*.el
fonts/
unity/
vim/autoload/plug*
vim/pack/bundles
vim/pack/settings/start/UltiSnips/pythonx/UltiSnips_globals.pyc
vim/pack/settings/start/UltiSnips/pythonx/vimsnippets.pyc
vim/pack/settings/start/UltiSnips/pythonx/__pycache__
vim/tmp
nvim/autoload/plug*
nvim/bundles
wallpapers/
zsh/history
zsh/oh-my-zsh/
