*.bak
*conflicted*
*unison.tmp
bash/history
compiz/
emacs.d/ac-comphist*
emacs.d/bookmarks
emacs.d/config.el*
emacs.d/elpa/
emacs.d/games/
emacs.d/history
emacs.d/org-wunderlist/
emacs.d/network-security.data
emacs.d/private.el
emacs.d/projectile-bookmarks.eld
emacs.d/projectile.cache
emacs.d/recentf
emacs.d/semanticdb/
emacs.d/server/
emacs.d/session*
emacs.d/tmp/
emacs.d/*unison*
fonts/
unity/
vim/autoload/plug*
vim/bundle
vim/pythonx/UltiSnips_globals.pyc
vim/pythonx/vimsnippets.pyc
vim/tmp
wallpapers/
zsh/history
zsh/oh-my-zsh/
