[submodule "emacs.d/bundle/verilog-mode"]
	path = emacs.d/bundle/verilog-mode
	url = https://github.com/veripool/verilog-mode
[submodule "emacs.d/bundle/org-drill-table"]
	path = emacs.d/bundle/org-drill-table
	url = https://github.com/chrisbarrett/org-drill-table
