# vim:ft=snippets:
priority -50

extends sh

priority -49

#===========================================================================
# Global functions
#
global !p
from UltiSnips_globals import *
endglobal



snippet #! "shebang" b
#!/usr/bin/env bash

endsnippet



#===========================================================================
# Skeleton
##
snippet _skeleton "Template for new files" b
#!/usr/bin/env bash
$0
endsnippet
