snippet sh "Embedded highlighting - sh"
{{{sh${1: }${VISUAL}$1}}}
endsnippet

snippet pl "Embedded highlighting - sh"
{{{perl${1: }${VISUAL}$1}}}
endsnippet

snippet py "Embedded highlighting - sh"
{{{py${1: }${VISUAL}$1}}}
endsnippet

snippet rb "Embedded highlighting - sh"
{{{ruby${1: }${VISUAL}$1}}}
endsnippet
