# vim:ft=snippets:

#===========================================================================
# Conditionals
#
snippet if "if..." b
if ($1)
  $0
endif
endsnippet

snippet ife "if...else" b
if ($1)
  $0
else
endif
endsnippet

snippet eli "elseif..." w
elseif ($1)
  $0
endsnippet

snippet el "else..." w
else
  $0
endsnippet
