# LS_COLORS/dircolors
# :PROPERTIES:
# :header-args+: :tangle dircolors.rc
# :END:


# [[file:../bashrc.org::*LS_COLORS/dircolors][LS_COLORS/dircolors:1]]
# This is a tangled file. Do not make any changes here. All changes should preferably be made in the original Org file.
# Use =org-babel-tangle-jump-back-to-org= to jump back to it from any code block.
# If any changes are made here, use =org-babel-detangle= to add it back to the original Org mode file.
# LS_COLORS/dircolors:1 ends here



# =ls= uses the value of the environment variable =LS_COLORS= to display. =dircolors= is a utility to set =LS_COLORS=

# =COLOR= needs one of these arguments:
# - ~tty~ colorizes output to ttys, but not pipes.
# - ~all~ adds color characters to all output
# - ~none~ shuts colorization off.

# [[file:../bashrc.org::*LS_COLORS/dircolors][LS_COLORS/dircolors:2]]
COLOR tty
# LS_COLORS/dircolors:2 ends here



# There should be one TERM entry for each termtype that is colorizable

# [[file:../bashrc.org::*LS_COLORS/dircolors][LS_COLORS/dircolors:4]]
TERM Eterm
TERM ansi
TERM color_xterm
TERM con132x25
TERM con132x30
TERM con132x43
TERM con132x60
TERM con80x25
TERM con80x28
TERM con80x30
TERM con80x43
TERM con80x50
TERM con80x60
TERM console
TERM dtterm
TERM gnome
TERM kon
TERM konsole
TERM kterm
TERM linux
TERM linux-c
TERM mach-color
TERM rxvt
TERM screen
TERM screen
TERM screen-w
TERM screen.linux
TERM uxterm
TERM vt100
TERM xterm
TERM xterm-256color
TERM xterm-debian
# LS_COLORS/dircolors:4 ends here



# These are the color init strings for the basic file types. A color init string consists of one or more of the following numeric codes:
# Attribute codes: 00:Normal, 01:Bold, 04:Underline, 05=Blink, 06:Outline, 07:Reverse, 08:Concealed
# | Color   | Foreground | Background |
# |-----------------------------------|
# | black   |     30     |     40     |
# | red     |     31     |     41     |
# | green   |     32     |     42     |
# | yellow  |     33     |     43     |
# | blue    |     34     |     44     |
# | magenta |     35     |     45     |
# | cyan    |     36     |     46     |
# | white   |     37     |     47     |


# [[file:../bashrc.org::*LS_COLORS/dircolors][LS_COLORS/dircolors:5]]
BLK     40;33;01    # block device driver
CHR     40;33;01    # character device driver
DIR     00;34       # directory
DOOR    01;35       # door
EXEC    00;32       # files with execute permissions
FIFO    40;33       # pipe
FILE    00          # normal file
LINK    00;36       # symbolic link. (If this is set to 'target' instead of a numerical value, the color is as for the file pointed to.)
MISSING 05;37;41    # ... and the files they point to
NORMAL  00          # global default, although everything should be something.
ORPHAN  01;37;41    # orphaned syminks
SOCK    01;35       # socket
# LS_COLORS/dircolors:5 ends here



# List any file extensions like '.gz' or '.tar' that you would like ls to colorize below. Put the extension, a space, and the color init string.
# (and any comments you want to add after a '#')

# Executables

# [[file:../bashrc.org::*LS_COLORS/dircolors][LS_COLORS/dircolors:6]]
.cmd 00;32
.exe 00;32
.com 00;32
.btm 00;32
.bat 00;32
.sh  00;32
.csh 00;32
# LS_COLORS/dircolors:6 ends here



# Archives or compressed files

# [[file:../bashrc.org::*LS_COLORS/dircolors][LS_COLORS/dircolors:7]]
.tar  00;31
.tgz  00;31
.arj  00;31
.taz  00;31
.lzh  00;31
.zip  00;31
.z    00;31
.Z    00;31
.gz   00;31
.bz2  00;31
.deb  00;31
.rpm  00;31
.jar  00;31
.bz   00;31
.tz   00;31
.cpio 00;31
# LS_COLORS/dircolors:7 ends here



# Image formats

# [[file:../bashrc.org::*LS_COLORS/dircolors][LS_COLORS/dircolors:8]]
.jpg  00;35
.jpeg 00;35
.gif  00;35
.bmp  00;35
.pbm  00;35
.pgm  00;35
.ppm  00;35
.tga  00;35
.xbm  00;35
.xpm  00;35
.tif  00;35
.tiff 00;35
.png  00;35
.mpg  00;35
.mpeg 00;35
.avi  00;35
.fli  00;35
.gl   00;35
.dl   00;35
.xcf  00;35
.xwd  00;35
# LS_COLORS/dircolors:8 ends here



# Audio formats

# [[file:../bashrc.org::*LS_COLORS/dircolors][LS_COLORS/dircolors:9]]
.ogg 00;35
.mp3 00;35
.wav 00;35
# LS_COLORS/dircolors:9 ends here
